.user {
  @apply fixed w-screen h-screen;
  @apply flex items-center justify-center;
  @apply text-gray-600;

  &__body {

    &__avatar {
      @apply w-16 h-16;
      @apply block;
      @apply mx-auto my-4;
      @apply opacity-0;
      animation-name: opacity;
      animation-timing-function: ease;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    &__name {
      @apply text-2xl;
      @apply opacity-0;
      animation-name: opacity;
      animation-timing-function: ease;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes opacity {
  0% {
    @apply opacity-0;
    transform: translateY(10%);
  }

  100% {
    @apply opacity-100;
    transform: translateY(0);
  }
}
